In [2]:
import requests
from bs4 import BeautifulSoup

In [34]:
r = requests.get("http://www.escolhaacertada.pt/pt-PT/Imoveis/-/-/-/-/-/-/-/-/-/-/-/-/0/0/20/1/1", headers={
        'User-agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:61.0) Gecko/20100101 Firefox/61.0'
    })

In [35]:
c = r.content

In [138]:
soup = BeautifulSoup(c, "html.parser")
all = soup.find_all("div", {"class":"row"})
l = []
a = []
for i in all:
    d = {}
    price = soup.find_all("div", {"class":"price"})
for prices in price:
    prices = prices.text
    prices = " ".join(prices.split())
    a.append(prices)
    d["Preco"] = a
    #print(i)
print(d)
l.append(d)

{'Preco': [u'Arrendamento 350 \u20ac', u'Arrendamento 370 \u20ac', u'Arrendamento 575 \u20ac', u'Arrendamento para f\xe9rias 650 \u20ac', u'Arrendamento 650 \u20ac', u'Arrendamento 850 \u20ac', u'Arrendamento 1.200 \u20ac', u'Arrendamento 1.450 \u20ac', u'Arrendamento 1.500 \u20ac', u'Arrendamento 1.550 \u20ac', u'Arrendamento 1.800 \u20ac', u'Arrendamento 2.150 \u20ac', u'Arrendamento 2.500 \u20ac', u'Arrendamento 3.200 \u20ac', u'Arrendamento 3.200 \u20ac', u'Arrendamento 3.300 \u20ac', u'Arrendamento 5.000 \u20ac', u'Venda 5.000 \u20ac', u'Arrendamento 6.400 \u20ac', u'Arrendamento 9.750 \u20ac']}

In [147]:
import pandas
#print(l)
for i in l:
    print(i)
    df = pandas.DataFrame(i)
df

{'Preco': [u'Arrendamento 350 \u20ac', u'Arrendamento 370 \u20ac', u'Arrendamento 575 \u20ac', u'Arrendamento para f\xe9rias 650 \u20ac', u'Arrendamento 650 \u20ac', u'Arrendamento 850 \u20ac', u'Arrendamento 1.200 \u20ac', u'Arrendamento 1.450 \u20ac', u'Arrendamento 1.500 \u20ac', u'Arrendamento 1.550 \u20ac', u'Arrendamento 1.800 \u20ac', u'Arrendamento 2.150 \u20ac', u'Arrendamento 2.500 \u20ac', u'Arrendamento 3.200 \u20ac', u'Arrendamento 3.200 \u20ac', u'Arrendamento 3.300 \u20ac', u'Arrendamento 5.000 \u20ac', u'Venda 5.000 \u20ac', u'Arrendamento 6.400 \u20ac', u'Arrendamento 9.750 \u20ac']}

                             Preco
0               Arrendamento 350 €
1               Arrendamento 370 €
2               Arrendamento 575 €
3   Arrendamento para férias 650 €
4               Arrendamento 650 €
5               Arrendamento 850 €
6             Arrendamento 1.200 €
7             Arrendamento 1.450 €
8             Arrendamento 1.500 €
9             Arrendamento 1.550 €
10            Arrendamento 1.800 €
11            Arrendamento 2.150 €
12            Arrendamento 2.500 €
13            Arrendamento 3.200 €
14            Arrendamento 3.200 €
15            Arrendamento 3.300 €
16            Arrendamento 5.000 €
17                   Venda 5.000 €
18            Arrendamento 6.400 €
19            Arrendamento 9.750 €