In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
r = requests.get("http://www.escolhaacertada.pt/pt-PT/Imoveis/-/-/-/-/-/-/-/-/-/-/-/-/0/0/20/1/1", headers={
        'User-agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:61.0) Gecko/20100101 Firefox/61.0'
    })

In [3]:
c = r.content

In [13]:
soup = BeautifulSoup(c, "html.parser")
all = soup.find_all("div", {"class":"row"})
l = []
a = []
b = []
for i in all:
    d = {}
    price = soup.find_all("div", {"class":"price"})
    name = soup.find_all("div", {"class":"info"})
for prices in price:
    prices = prices.text
    prices = " ".join(prices.split())
    a.append(prices)
    d["Preco"] = a
for names in name:
    names = names.find_all("a", {"class":"trackevent"})
    names = names[0].text
    b.append(names)
l.append(d)

Escritório Matosinhos
Escritório Porto Boavista
Escritório junto ao Covelo
Café nos Altos
T1 lavra condominio fechado junto a praia
T1 duplex Rua da Restauração
T3 Matosinhos Centro
T1 à Rotunda Boavista
Loja com duas frentes com espaço exterior próxima Av. Boavista
Escritório Montes Burgos
Loja ou Armazém Porto Carolina Michaelis
Loja Centro Matosinhos
Armazém -Leça do Balio saida da Via Norte
Arrendamento Armazém
Escritório Zona Industrial Porto
Terreno com 9950 m2 São Mamede de Infesta
Excelente Moradia V5 Leça do Balio
Escritório zona Industrial Porto
Arrendamento Terreno
Lugar de Garagem Lordelo do Ouro

In [5]:
import pandas
#print(l)
for i in l:
    print(i)
    df = pandas.DataFrame(i)
df

{'Preco': [u'Arrendamento 350 \u20ac', u'Arrendamento 370 \u20ac', u'Arrendamento 500 \u20ac', u'Arrendamento 575 \u20ac', u'Arrendamento para f\xe9rias 650 \u20ac', u'Arrendamento 650 \u20ac', u'Arrendamento 850 \u20ac', u'Arrendamento 1.200 \u20ac', u'Arrendamento 1.450 \u20ac', u'Arrendamento 1.500 \u20ac', u'Arrendamento 1.550 \u20ac', u'Arrendamento 1.800 \u20ac', u'Arrendamento 2.150 \u20ac', u'Arrendamento 2.500 \u20ac', u'Arrendamento 2.550 \u20ac', u'Arrendamento 3.200 \u20ac', u'Arrendamento 3.200 \u20ac', u'Arrendamento 4.350 \u20ac', u'Arrendamento 5.000 \u20ac', u'Venda 5.000 \u20ac']}

                             Preco
0               Arrendamento 350 €
1               Arrendamento 370 €
2               Arrendamento 500 €
3               Arrendamento 575 €
4   Arrendamento para férias 650 €
5               Arrendamento 650 €
6               Arrendamento 850 €
7             Arrendamento 1.200 €
8             Arrendamento 1.450 €
9             Arrendamento 1.500 €
10            Arrendamento 1.550 €
11            Arrendamento 1.800 €
12            Arrendamento 2.150 €
13            Arrendamento 2.500 €
14            Arrendamento 2.550 €
15            Arrendamento 3.200 €
16            Arrendamento 3.200 €
17            Arrendamento 4.350 €
18            Arrendamento 5.000 €
19                   Venda 5.000 €