In [27]:
from bs4 import BeautifulSoup
import pandas
import requests

# 21 pages
l = []
a = []
b = []
for page in range(0,22):
    base_url = "http://www.escolhaacertada.pt/pt-PT/Imoveis/-/-/-/-/-/-/-/-/-/-/-/-/0/0/20/1/"
    if page == 0:
        continue
    #rint(base_url + str(page))
    r = requests.get(base_url+str(page), headers={
        'User-agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:61.0) Gecko/20100101 Firefox/61.0'
    })
    c = r.content
    soup = BeautifulSoup(c, "html.parser")
    all = soup.find_all("div", {"class":"row"})
    #print(len(all))
    for item in all:
        d = {}
        price = soup.find_all("div", {"class":"price"})
        name = soup.find_all("a", {"class":"trackevent"})
    for prices in price:
        prices = prices.text
        prices = " ".join(prices.split())
        a.append(prices)
        d["Preco"] = a
    """for names in name:
        names = names.text
        names = " ".join(names.split())
        b.append(names)
        d["Ímovel"] = b
        print(b)
    """
    l.append(d)

In [29]:
import pandas
#print(l)
for i in l:
    #print(i)
    df = pandas.DataFrame(i)
df

                               Preco
0                 Arrendamento 350 €
1                 Arrendamento 370 €
2                 Arrendamento 575 €
3     Arrendamento para férias 650 €
4                 Arrendamento 650 €
5                 Arrendamento 850 €
6               Arrendamento 1.200 €
7               Arrendamento 1.450 €
8               Arrendamento 1.500 €
9               Arrendamento 1.550 €
10              Arrendamento 1.800 €
11              Arrendamento 2.150 €
12              Arrendamento 2.500 €
13              Arrendamento 3.200 €
14              Arrendamento 3.200 €
15              Arrendamento 3.300 €
16              Arrendamento 5.000 €
17                     Venda 5.000 €
18              Arrendamento 6.400 €
19              Arrendamento 9.750 €
20                    Venda 10.000 €
21                    Venda 11.000 €
22             Arrendamento 12.850 €
23                    Venda 13.000 €
24                    Venda 14.000 €
25                    Venda 15.000 €
26                    Venda 16.000 €
27                    Venda 17.500 €
28                    Venda 19.500 €
29                    Venda 26.000 €
..                               ...
386                  Venda 900.000 €
387                  Venda 950.000 €
388                Venda 1.000.000 €
389                Venda 1.000.000 €
390                Venda 1.000.000 €
391                Venda 1.050.000 €
392                Venda 1.050.000 €
393                Venda 1.069.000 €
394                Venda 1.070.000 €
395                Venda 1.082.600 €
396                Venda 1.100.000 €
397                Venda 1.155.000 €
398                Venda 1.200.000 €
399                Venda 1.220.000 €
400                Venda 1.290.000 €
401                Venda 1.550.000 €
402                Venda 1.650.000 €
403                Venda 1.716.000 €
404                Venda 2.000.000 €
405                Venda 2.200.000 €
406                Venda 2.200.000 €
407                Venda 2.200.000 €
408                Venda 2.900.000 €
409                Venda 3.000.000 €
410                Venda 3.450.000 €
411                Venda 5.542.600 €
412                Venda 9.000.000 €
413         Venda Preço sob consulta
414  Arrendamento Preço sob consulta
415  Arrendamento Preço sob consulta

[416 rows x 1 columns]